a{
    text-decoration: none!important;
}

a, button, input{
    outline: none!important;
}

a, p, h5, h6, label, input, tr, td, table, .card-text, .card-title{
    font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4{
    font-family: 'gotham-ultra';
}

a, p{
    
    font-size: 14px;
    font-weight: 300;
}

.nav-color{
  background: #fff !important;
  -webkit-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.10);
}

.modal{
  z-index: 99999;
}

.bar{
  background-color: $bg-dynamic;
  width: 40px;
  height: 5px;
  display: block;
}

.bg-scroll{
  background-color: #fff !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  @include  transition(.3s);
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: $red-dark;
  opacity: 1!important;
}

.tooltip-inner {
  max-width: 300px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'gotham-ultra';
  background-color: $red-dark;
  border-radius: .25rem;
  opacity: 1!important;
}

.navbar{
    z-index: 999;
}

.navbar-nav{
    margin-top: -26px;

    .nav-item {
      color: #2a2a2a !important;
      font-weight: bold;
      padding-top: 20px;

      .nav-link {
        color: #2a2a2a !important;
        @include transition(.3s);
        &:after{
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }

        .btn-member {
          color: $white !important;
        }

        &:hover {
          color: $dlink !important;
          font-weight: bold;
        }
      }
    }

    .active {
      color: $dlink !important;
      border-top: 6px solid $color-dynamic;

      .nav-link {
        font-weight: bold;
        color: $dlink !important;
        margin-top: -6px;
      }
    }
}

.color-default{
  color: #33cccc;
}

.bold{
  font-weight: bold;
}


  .btn-default {
    color: $white !important;
    background-image: linear-gradient(to right, #00c8bd, #00aad6) !important;
    padding: 10px 35px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
    @include hover-dinamic(0);
  }

  .btn-download {
    color: #292929 !important;
    background-color: #ebe9e9 !important;
    border: 1px solid #ebe9e9;
    padding: 10px 35px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
  }

  .btn-download:hover {
    background-color: #d4d2d2 !important;
    border: 1px solid #d4d2d2;
  }

  .btn-transparent {
    color: $white !important;
    background-color: transparent !important;
    border: 1px solid $white;
    padding: 10px 35px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
  }

  .btn-transparent:hover {
    background-color: $color-dynamic !important;
    border: 1px solid $color-dynamic;
  }

  .inputgroupicon {
    position: relative;

    .input-search {
      border-radius: 30px;
      height: 40px;
      background: transparent;
      border: 1px solid #2a2a2a;
      color: #2a2a2a;
      padding: 10px 40px;
      font-size: 15px;
      max-width: 170px;

    }

    .icon-search {
      position: absolute;
      color: #2a2a2a;
      font-size: 20px;
      display: block;
      top: 12px;
      left: 15px;
    }
  }


  form#sendmessage {
    input {
      background: #cfcdcd;
      color: #292929;
      border-radius: 21px;
      height: 45px;
      margin-bottom: 15px;
    }

    textarea {
      background: #cfcdcd;
      color: #292929;
      border-radius: 21px;
      margin-bottom: 15px;
      padding: 20px;
    }
  }