/*pages and configurations default*/
/*Color palets*/
/*Fonts*/
@import url("../vendor/bootstrap/scss/bootstrap.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/
a {
  text-decoration: none !important; }

a, button, input {
  outline: none !important; }

a, p, h5, h6, label, input, tr, td, table, .card-text, .card-title {
  font-family: "Open Sans", sans-serif !important; }

h1, h2, h3, h4 {
  font-family: 'gotham-ultra'; }

a, p {
  font-size: 14px;
  font-weight: 300; }

.modal {
  z-index: 99999; }

.bar {
  background-color: #b55347;
  width: 40px;
  height: 5px;
  display: block; }

.bg-scroll {
  background-color: #fdfcfa !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #853d34;
  opacity: 1 !important; }

.tooltip-inner {
  max-width: 300px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'gotham-ultra';
  background-color: #853d34;
  border-radius: .25rem;
  opacity: 1 !important; }

.navbar {
  z-index: 999; }

.navbar-nav {
  margin-top: -26px; }
  .navbar-nav .active {
    color: #2a2a2a !important;
    border-top: 6px solid #b55347; }
    .navbar-nav .active .nav-link {
      font-weight: bold;
      margin-top: -6px; }
  .navbar-nav .nav-item {
    color: #2a2a2a !important;
    font-weight: bold;
    padding-top: 20px; }
    .navbar-nav .nav-item .nav-link {
      color: #2a2a2a !important;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .navbar-nav .nav-item .nav-link:after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .navbar-nav .nav-item .nav-link .btn-member {
        color: #ffffff !important; }
      .navbar-nav .nav-item .nav-link:hover {
        color: #2a2a2a !important;
        font-weight: bold; }

.btn-default {
  color: #ffffff !important;
  background-color: #be3725;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }
  .btn-default:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b55347;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: white; }
  .btn-default:hover:before, .btn-default:focus:before, .btn-default:active:before {
    -webkit-transform: scale(0);
    transform: scale(0); }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header {
  position: relative;
  background-image: radial-gradient(#d7d7d7, #f3f3f3); }
  header#header:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px); }
  header#header .input-search {
    border-radius: 30px;
    height: 100px;
    background: transparent;
    border: 1px solid #fff; }
  header#header .balls-shapes .ball {
    background-color: #b7b7b7;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%; }
    header#header .balls-shapes .ball:after {
      content: '';
      border: 1px solid #b7b7b7;
      width: 30px;
      height: 30px;
      position: absolute;
      left: -5px;
      top: -5px;
      display: block;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%; }
  header#header .balls-shapes .-one, header#header .balls-shapes .-two {
    z-index: 0;
    position: absolute;
    left: 109px;
    top: 260px; }
  header#header .balls-shapes .-two {
    left: 389px;
    top: 400px; }
  header#header .balls-shapes .-three {
    position: absolute;
    right: 550px;
    top: 140px;
    z-index: 1; }
  header#header .title-slider {
    position: relative; }
    header#header .title-slider::after {
      content: 'Tipbrasil';
      font-size: 10rem;
      background: -moz-linear-gradient(top, rgba(42, 42, 42, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(top, rgba(42, 42, 42, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, rgba(42, 42, 42, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62a2a2a', endColorstr='#00000000', GradientType=0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 0;
      text-transform: uppercase;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50px;
      opacity: 0.2;
      text-align: center;
      font-family: 'gotham-ultra'; }
    header#header .title-slider::before {
      content: '';
      background-color: #b55347;
      width: 350px;
      height: 100vh;
      /* height: 500px; */
      display: block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 20px;
      z-index: 0;
      border-radius: 300px 300px 0 0; }
  header#header .content-carousel {
    width: 100%;
    display: block;
    margin: 0 auto;
    cursor: grab; }
  header#header .owl-carousel {
    position: relative;
    /* width: 600px; */
    right: 0;
    left: 0;
    margin: auto; }
    header#header .owl-carousel div {
      width: 100%; }
      header#header .owl-carousel div .description {
        /* background-image: url("../images/slide/caption-bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        padding: 50px; */
        position: absolute;
        z-index: 99999;
        bottom: 220px;
        left: 80px; }
        header#header .owl-carousel div .description .title {
          color: #2a2a2a;
          text-transform: uppercase;
          line-height: 45px;
          font-size: 3em; }
          header#header .owl-carousel div .description .title span {
            color: #b55347; }
        header#header .owl-carousel div .description .text {
          font-weight: bold;
          color: #2a2a2a; }
    header#header .owl-carousel .owl-controls .owl-dot {
      background-size: cover;
      margin-top: 10px; }
    header#header .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50px;
      right: 205px;
      background-color: #be3725;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
      header#header .owl-carousel .owl-nav .owl-prev:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #b55347;
        border-radius: 100%;
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      header#header .owl-carousel .owl-nav .owl-prev:hover, header#header .owl-carousel .owl-nav .owl-prev:focus, header#header .owl-carousel .owl-nav .owl-prev:active {
        color: white; }
      header#header .owl-carousel .owl-nav .owl-prev:hover:before, header#header .owl-carousel .owl-nav .owl-prev:focus:before, header#header .owl-carousel .owl-nav .owl-prev:active:before {
        -webkit-transform: scale(0);
        transform: scale(0); }
    header#header .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 450px;
      right: 205px;
      background-color: #be3725;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
      header#header .owl-carousel .owl-nav .owl-next:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #b55347;
        border-radius: 100%;
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      header#header .owl-carousel .owl-nav .owl-next:hover, header#header .owl-carousel .owl-nav .owl-next:focus, header#header .owl-carousel .owl-nav .owl-next:active {
        color: white; }
      header#header .owl-carousel .owl-nav .owl-next:hover:before, header#header .owl-carousel .owl-nav .owl-next:focus:before, header#header .owl-carousel .owl-nav .owl-next:active:before {
        -webkit-transform: scale(0);
        transform: scale(0); }
    header#header .owl-carousel .owl-dots {
      position: absolute;
      top: 50%;
      right: 150px;
      width: 150px;
      height: 100%;
      margin-top: -244px; }
      header#header .owl-carousel .owl-dots .active {
        border: 4px solid #b55347;
        border-radius: 10px; }
    header#header .owl-carousel .owl-dot {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 145px;
      height: 94px;
      margin-bottom: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px; }
  @media (max-width: 850px) {
    header#header .balls-shapes, header#header .owl-dots {
      display: none; }
    header#header .title-slider::after {
      display: none; }
    header#header .title-slider::before {
      width: 300px;
      height: 277px;
      top: 20px; }
    header#header .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header .owl-carousel div {
      width: 100%; }
      header#header .owl-carousel div .description {
        background-image: none;
        background-color: #ffffffb5;
        padding: 18px 18px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center; }
        header#header .owl-carousel div .description .title {
          text-align: center;
          line-height: 20px;
          font-size: 20px; }
        header#header .owl-carousel div .description .text {
          text-align: center;
          font-size: 13px;
          line-height: 15px; } }

section#servicos {
  position: relative;
  padding-bottom: 150px; }
  section#servicos:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
    z-index: -3; }
  section#servicos .box {
    padding: 15px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    section#servicos .box:first-child {
      margin-top: 100px; }
    section#servicos .box p {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
    section#servicos .box .-icon {
      color: #b55347;
      font-size: 3em;
      text-align: center;
      display: block;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
    section#servicos .box:hover {
      background-color: #b55347;
      cursor: pointer; }
      section#servicos .box:hover .-icon, section#servicos .box:hover p {
        color: #ffffff; }
  section#servicos .box-content-center {
    background-color: #b55347;
    padding-bottom: 220px; }
    section#servicos .box-content-center .-band {
      color: #853d34;
      font-size: 5em;
      margin-top: -24px;
      display: block; }
    section#servicos .box-content-center .content {
      padding-top: 20px;
      position: relative;
      z-index: 1; }
      section#servicos .box-content-center .content p {
        font-family: "gotham-ultra" !important;
        color: #ffffff;
        font-size: 25px;
        line-height: 20px;
        text-transform: uppercase; }
        section#servicos .box-content-center .content p span {
          font-size: 12px;
          font-family: 'gotham-book';
          letter-spacing: 10px; }
  section#servicos .box-text {
    position: absolute;
    top: -160px;
    left: 0;
    width: 370px;
    z-index: 1;
    max-width: 100%; }
    section#servicos .box-text .title {
      font-weight: bold;
      margin: 0;
      padding-top: 20px; }
    section#servicos .box-text p {
      color: #848484; }
    section#servicos .box-text .buttons {
      margin-top: 20px; }
  section#servicos .boxes-itens ul li {
    padding: 17px;
    margin: 15px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    section#servicos .boxes-itens ul li i {
      font-size: 4em;
      color: #b55347; }
    section#servicos .boxes-itens ul li p {
      font-weight: bold; }
    section#servicos .boxes-itens ul li:hover {
      background-color: #b55347; }
      section#servicos .boxes-itens ul li:hover i, section#servicos .boxes-itens ul li:hover p {
        color: #ffffff; }
  section#servicos .box-radius {
    text-align: center;
    position: relative;
    top: -140px; }
    section#servicos .box-radius .icon-01, section#servicos .box-radius .icon-02, section#servicos .box-radius .icon-03, section#servicos .box-radius .icon-04, section#servicos .box-radius .icon-05, section#servicos .box-radius .icon-06, section#servicos .box-radius .icon-07, section#servicos .box-radius .icon-08 {
      font-size: 5em;
      position: absolute;
      top: 15px;
      left: 540px;
      color: #ffffff;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
      section#servicos .box-radius .icon-01:hover, section#servicos .box-radius .icon-02:hover, section#servicos .box-radius .icon-03:hover, section#servicos .box-radius .icon-04:hover, section#servicos .box-radius .icon-05:hover, section#servicos .box-radius .icon-06:hover, section#servicos .box-radius .icon-07:hover, section#servicos .box-radius .icon-08:hover {
        color: #853d34;
        /* content: '';
        width: 60px;
        height: 60px;
        display: block;
        background-color: $red-dark;
        @include border-radius(50%); */ }
    section#servicos .box-radius .icon-02 {
      top: 75px;
      left: 690px; }
    section#servicos .box-radius .icon-03 {
      top: 215px;
      left: 780px; }
    section#servicos .box-radius .icon-04 {
      top: 375px;
      left: 780px; }
    section#servicos .box-radius .icon-05 {
      top: 495px;
      left: 670px; }
    section#servicos .box-radius .icon-06 {
      top: 545px;
      left: 520px; }
    section#servicos .box-radius .icon-07 {
      top: 495px;
      left: 350px; }
    section#servicos .box-radius .icon-08 {
      top: 360px;
      left: 260px; }
  section#servicos .box-product {
    cursor: pointer;
    padding: 35px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 36px -24px rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    section#servicos .box-product .title {
      text-transform: uppercase; }
    section#servicos .box-product:hover {
      background-image: url("../images/bg-product.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #b55347; }
      section#servicos .box-product:hover .title, section#servicos .box-product:hover p {
        color: #ffffff; }
  @media (max-width: 850px) {
    section#servicos {
      padding-bottom: 30px; }
      section#servicos .box {
        margin-top: 30px !important;
        text-align: center;
        min-height: 235px; }
        section#servicos .box:first-child {
          margin-top: 0px; }
      section#servicos .box-content-center {
        margin-top: 50px;
        padding-bottom: 70px; }
      section#servicos .box-text {
        position: static;
        margin: 40px auto;
        max-width: 90%;
        text-align: center; }
        section#servicos .box-text .title {
          font-size: 14px; } }

section#quem-somos {
  position: relative;
  background-image: url("../images/bg-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0; }
  section#quem-somos:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../images/men.png");
    background-size: cover;
    width: 574px;
    height: 520px; }
    @media (max-width: 850px) {
      section#quem-somos:before {
        display: none; } }
  section#quem-somos .title {
    text-transform: uppercase; }
  section#quem-somos .subtitle {
    font-weight: bold; }

section#clientes {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  section#clientes:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
    z-index: -3; }
  section#clientes .bar {
    margin: 12px auto; }
  section#clientes .title {
    text-transform: uppercase; }
  section#clientes .subtitle {
    color: #848484;
    font-weight: bold;
    font-size: 16px;
    width: 400px;
    max-width: 90%;
    margin: 0 auto; }
  section#clientes #clients-slide {
    position: relative; }
    section#clientes #clients-slide .owl-item {
      filter: gray;
      -webkit-filter: grayscale(100%);
      z-index: -1;
      transform: scale(0.7);
      opacity: .8; }
    section#clientes #clients-slide .owl-item.active.center {
      filter: none;
      transform: scale(1);
      opacity: 1;
      z-index: 1; }
    section#clientes #clients-slide .owl-dots {
      position: static !important;
      top: 0 !important;
      right: auto !important;
      width: auto !important;
      height: auto !important;
      margin-top: auto !important;
      padding-top: 30px; }
      section#clientes #clients-slide .owl-dots .active {
        background-color: #b55347 !important;
        border: 0 !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%; }
    section#clientes #clients-slide .owl-dot {
      background-size: none !important;
      background-position: none !important;
      background-repeat: none !important;
      background-color: #b7b7b7 !important;
      width: 12px !important;
      height: 12px !important;
      margin-bottom: 0 !important;
      margin: 3px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%; }
    section#clientes #clients-slide .owl-nav {
      color: #2a2a2a;
      text-align: center;
      display: block; }
      section#clientes #clients-slide .owl-nav .owl-prev {
        left: 394px;
        position: absolute;
        bottom: -3px;
        margin-top: -25px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s; }
        section#clientes #clients-slide .owl-nav .owl-prev:hover {
          color: #b55347; }
      section#clientes #clients-slide .owl-nav .owl-next {
        position: absolute;
        right: 394px;
        position: absolute;
        bottom: -3px;
        margin-top: -25px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s; }
        section#clientes #clients-slide .owl-nav .owl-next:hover {
          color: #b55347; }

section#contato {
  padding-bottom: 50px;
  position: relative; }
  section#contato:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
    z-index: -3; }
  section#contato .box-title {
    text-align: center; }
    section#contato .box-title .bar {
      margin: 15px auto; }
    section#contato .box-title .title {
      text-transform: uppercase;
      margin-bottom: 0; }
    section#contato .box-title .description {
      width: 450px;
      max-width: 90%;
      font-size: 16px;
      margin: 0 auto;
      font-weight: bold;
      color: #848484; }
  section#contato .form-contact input {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 13px;
    box-shadow: none; }
  section#contato .form-contact textarea {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px; }
  section#contato .form-contact button {
    cursor: pointer; }

section#newsletter {
  background-image: url("../images/bg-news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #b7b7b7;
  padding: 40px 0; }
  section#newsletter .title {
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff; }
    section#newsletter .title span {
      font-size: 14px;
      font-family: 'gotham-book';
      letter-spacing: 10px; }
  section#newsletter .form-news input {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0px 36px;
    border: 0;
    box-shadow: none; }
  section#newsletter .form-news button {
    cursor: pointer; }
  @media (max-width: 850px) {
    section#newsletter input {
      width: 100%;
      padding: 15px !important; }
    section#newsletter button {
      margin: 14px auto; }
    section#newsletter .title {
      text-align: center;
      font-size: 1.5em;
      line-height: 25px; } }

footer#footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #2a2a2a; }
  footer#footer canvas {
    display: block;
    vertical-align: bottom; }
  footer#footer #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #2a2a2a; }
  footer#footer .bar {
    margin-bottom: 15px; }
  footer#footer .title {
    text-transform: uppercase;
    color: #ffffff; }
  footer#footer p {
    color: #ffffff; }
  footer#footer .social-network li a {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    footer#footer .social-network li a:hover {
      background-color: #ffffff;
      color: #2a2a2a; }
  footer#footer .copy {
    color: #848484; }
  footer#footer .dev {
    color: #848484;
    text-align: right; }
    footer#footer .dev a {
      font-weight: bold;
      color: #848484; }
  @media (max-width: 850px) {
    footer#footer .copy, footer#footer .dev {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
