/*Color palets*/
/*Fonts*/
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/

/*# sourceMappingURL=variables.css.map */
