	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/04/2019 20:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  /* font-size: 20px; */
  font-style: normal;

}

.flaticon-money:before { content: "\f100"; }
.flaticon-translator:before { content: "\f101"; }
.flaticon-call:before { content: "\f102"; }
.flaticon-respect:before { content: "\f103"; }
.flaticon-server:before { content: "\f104"; }
.flaticon-web:before { content: "\f105"; }
.flaticon-language:before { content: "\f106"; }
.flaticon-presentation:before { content: "\f107"; }
.flaticon-see:before { content: "\f108"; }
.flaticon-document:before { content: "\f109"; }
.flaticon-gears:before { content: "\f10a"; }
.flaticon-available:before { content: "\f10b"; }
.flaticon-hacker:before { content: "\f10c"; }
.flaticon-customer-service:before { content: "\f10d"; }
.flaticon-research:before { content: "\f10e"; }
.flaticon-pdf:before { content: "\f10f"; }
.flaticon-right-arrow:before { content: "\f110"; }
.flaticon-bookmark:before { content: "\f111"; }