body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-agenda{
   position: relative;
   background:
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url('../images/agenda.png');
   height: 422px;

   .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span{
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;
            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color:transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
   }

   .breaditem{
       color: #fff;
       font-size: 18px;
   }

}


section#agenda {
    color: #333333 !important;
    position: relative;
    min-height: 299px;
    padding-top: 100px;
    
    h2 {
        text-transform: uppercase;
    }

    p {
        color: #333333 !important;
    }

    .cat {
        font-weight: bold;
        float: left;
        margin-right: 10px;
        margin-top: 8px;
    }

    .dropdown {
        width: 283px;
        float: left;
    }

    .btn-transparent {
        color: #333333 !important;
        border: 1px solid #333333;
    }


    .item-agenda{
        margin-bottom: 40px;
        padding: 0px 10px 0px 0px;
        .date{
            background-image: linear-gradient(to top, #05a5d6, #63cdb7);
            color: $white;
            text-align: center;
            padding: 50px 5px;
            border-radius: 20px 0 0 20px;
        }
        .description {
            background-color: #f7f7f7;
            padding: 30px 20px;
            border-radius: 0 20px 20px 0;

            h4{
                font-size: 16px;
                text-transform: uppercase;
            }

            p{
                font-size: 12px;
            }

            a{
                float: right;
                color: #292929;
            }

            a:hover{
                text-decoration: underline;
            }

        }
    }

    @media (max-width: $screen-sm) {
        .remove-mobile{
            display: none;
        }

        .-aux{
            padding: 20px;
        }

        .item-agenda {
            .date {
                border-radius: 20px 20px 0 0;
            }

            .description {
                border-radius: 0 0 20px 20px;
            }
        }
    }
}