body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-empresa{
   position: relative;
   background:
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url('../images/empresa.png');
   height: 422px;

   .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span{
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;
            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color:transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
   }

   .breaditem{
       color: #fff;
       font-size: 18px;
   }

}


section#about-page {
    color: #333333 !important;
    position: relative;
    min-height: 814px;
    background: url('../images/men.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-top: -20px;
    background-size: contain;

    .paux {
        padding-top: 65px;
    }


    .align-owl {

        .item-boxline {
            text-align: center;
            padding: 10px;
            background:
                /* top, transparent red */
                linear-gradient(rgba(45, 182, 201, 0.9),
                    rgba(45, 182, 201, 0.9)),
                /* bottom, image */
                url('/assets/images/timeline.png');
            border-radius: 10px;
            color: $white;

            .timebox {
                padding: 30px;
                border: 1px solid #fff;
                border-radius: 10px;

                i {
                    font-size: 70px;
                    margin-bottom: 10px;
                }

                strong {
                    font-size: 18px;
                }

                p {
                    color: $white !important;
                }
            }
        }

        .owl-nav {
            width: 40px;
            position: absolute;
            right: -53px;
            top: 140px;
        }

        .owl-prev,
        .owl-next {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background: #006699;
            color: #fff;
        }

        .owl-prev {
            background: #0099cc;
        }
    }

    h2 {
        text-transform: uppercase;

        span {
            font-size: 20px;
            letter-spacing: 3px;
            font-family: 'gotham-book';
        }
    }

    p {
        color: #333333 !important;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }

        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .texto-historia {
            position: initial;
            top: auto;
            left: auto;
            float: initial;
            width: 100%;

            p {
                width: 100%;
            }
        }

        .align-owl {
            position: initial;
            top: auto;
            left: auto;
            width: 100%;
            clear: both;
            margin: 80px 0;

            .owl-nav {
                width: auto;
                position: absolute;
                top: auto;
                right: 0px;
                bottom: -56px;
            }
        }
    }
}