

body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-home{
   position: relative;
   background-image: url('../images/slide/bgslider.jpg');
   background-size: cover;
   &:after{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0.1;
        background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
    }


   .content-carousel {
        width: 100%;
        display: block;
        margin: 0 auto;
        cursor: grab;
    }
    .owl-carousel {
        position: relative;
        /* width: 600px; */
        right: 0;
        left: 0;
        margin: auto;

        div{
            width: 100%;

            .description{
                position: absolute;
                z-index: 99999;
                bottom: 220px;
                left: 80px;

                .title {
                    color: $white !important;
                    text-transform: uppercase;
                    line-height: 45px;
                    font-size: 3.5em;
                    .title-one {
                        font-family: 'gotham-book';
                        text-transform: uppercase;
                        font-size: 25px;
                        color: $white !important;
                        letter-spacing: 1px;
                    }
                    .title-gradient{
                         background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For Chrome and Safari */
                         background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For old Fx (3.6 to 15) */
                         background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For pre-releases of IE 10*/
                         background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For old Opera (11.1 to 12.0) */
                         background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* Standard syntax; must be last */
                         color:transparent;
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                    }
                }

                .text{
                    font-weight: bold;
                    color: $dlink;
                }
            }
        }

        .owl-controls .owl-dot {
            background-size: cover;
            margin-top: 10px;
        }
        
        .owl-nav{
            .owl-prev{
                position: absolute;
                top: 50px;
                right: 205px;
                background-color: $color-hover;
                color: $white;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 14px;
                z-index: 1;

                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                overflow: hidden;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                @include border-radius(10px);
                @include transform-rotate(90deg);
            }

            .owl-prev:hover, .owl-next:hover{
                background-color: $color-dynamic;

            }

            .owl-next{
                position: absolute;
                top: 450px;
                right: 205px;
                background-color: $color-hover;
                color: $white;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 14px;
                z-index: 1;

                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                overflow: hidden;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                @include border-radius(10px);
                @include transform-rotate(90deg);
            }
        }

        .owl-dots {
            position: absolute;
            left: 80px;
            bottom: -7px;

            .active {
                border: 4px solid $color-dynamic;
                border-radius: 10px;
            }
        }

        

        .owl-dot {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 145px;
            height: 94px;
            margin-bottom: 10px;
            @include border-radius(10px);
        }
    } 

    @media (max-width: $screen-sm){
        
        .balls-shapes, .owl-dots {
            display: none;
        }

        .title-slider {
            &::after {
                display: none;
                
            }
     
            &::before {
                width: 300px;
                height: 277px;
                top: 20px;
               
            }
        }

        .owl-carousel{
            .owl-nav{
                .owl-prev{
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    left: 15px;
                    @include transform-rotate(0deg);
                }
    
                .owl-next{
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    right: 15px;
                    @include transform-rotate(0deg);
                }
            }

            div{
                width: 100%;
    
                .description{
                    background-image: none;
                    background-color: rgba(51, 51, 51, 0.7);
                    padding: 18px 18px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    
    
                    .title{
                        text-align: center;
                        line-height: 20px;
                        font-size: 20px;

                        .title-one {
                            font-family: 'gotham-book';
                            text-transform: uppercase;
                            font-size: 15px;
                            color: #ffffff !important;
                            letter-spacing: 1px;
                        }
                    }
    
                    .text{
                        text-align: center;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}

section#especialties {
    position: relative;
    min-height: 310px;
    color: $white !important;
    background-position: top;
    background-attachment: initial;

    .esp1 {
        background:
            /* top, transparent red */
            linear-gradient(rgba(0, 153, 204, 0.9),
                rgba(0, 153, 204, 0.9)),
            /* bottom, image */
            url('/assets/images/especialties/esp1.png');
    }

    .esp2 {
        background:
            /* top, transparent red */
            linear-gradient(rgba(0, 102, 153, 0.9),
                rgba(0, 102, 153, 0.9)),
            /* bottom, image */
            url('/assets/images/especialties/esp2.png');
    }

    .especiality {
        padding: 25px 69px;
        width: 50%;
        float: left;
        min-height: 310px;

        .icon {
            color: $white;
            font-size: 60px;
        }

        h2 {
            text-transform: uppercase;

            span {
                font-size: 15px;
                letter-spacing: 3px;
                font-family: 'gotham-book';
            }
        }

        p {
            color: $white !important;
        }

    }

    @media (max-width: $screen-sm) {
        .especiality {
            width: 100%;
            float: none;
            min-height: 410px;
        }
    }
}

@media (max-width: $screen-sm) {
    section#especialties {
        min-height: 410px;
    }
}


section#about {
    color: #333333 !important;
    position: relative;
    min-height: 814px;
    background: url('../images/men.png');
    background-position: left;
    background-repeat: no-repeat;
    margin-top: -20px;
    background-size: contain;

    .paux{
        padding-top: 65px;
    }


    .align-owl {

        .item-boxline {
            text-align: center;
            padding: 10px;
            background:
            /* top, transparent red */
            linear-gradient(rgba(45, 182, 201, 0.9),
                rgba(45, 182, 201, 0.9)),
            /* bottom, image */
            url('/assets/images/timeline.png');
            border-radius: 10px;
            color: $white;

            .timebox {
                padding: 30px;
                border: 1px solid #fff;
                border-radius: 10px;

                i{
                    font-size: 70px;
                    margin-bottom: 10px;
                }

                strong{
                    font-size: 18px;
                }

                p {
                    color: $white !important;
                }
            }
        }

        .owl-nav {
            width: 40px;
            position: absolute;
            right: -53px;
            top: 140px;
        }

        .owl-prev,
        .owl-next {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background: #006699;
            color: #fff;
        }

        .owl-prev {
            background: #0099cc;
        }
    }
    
    h2 {
        text-transform: uppercase;

        span {
            font-size: 20px;
            letter-spacing: 3px;
            font-family: 'gotham-book';
        }
    }

    p {
        color: #333333 !important;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile{
            display: none;
        }
        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .texto-historia {
            position: initial;
            top: auto;
            left: auto;
            float: initial;
            width: 100%;

            p {
                width: 100%;
            }
        }

        .align-owl {
            position: initial;
            top: auto;
            left: auto;
            width: 100%;
            clear: both;
            margin: 80px 0;

            .owl-nav {
                width: auto;
                position: absolute;
                top: auto;
                right: 0px;
                bottom: -56px;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    section#about {
        background: url('');
    }
}

section#units {
    position: relative;
    margin-top: -3px;
    .title-float{
        position: absolute;
        opacity: 10;
        top: -80px;
        z-index: -2;
        left: 358px;

        h1{
            opacity: 0.1;
            font-size: 88px !important;
            text-transform: uppercase;
        }
    }

    .-aux {
        padding-left: 0px;
        max-width: 100%;
        margin-top: 0px !important;
        margin-left: -200px;
    }

    .units-al{
        left: -15%;
        position: absolute;
    }

    .title {
        margin-top: 65px;
        span{
           font-size: 12px;
           letter-spacing: 3px;
           font-family: 'gotham-book';
           text-transform: uppercase;
        }

        .align-h2{
            margin-left: -55px;
            margin-bottom: 0px;
        }

        h2 {
            text-transform: uppercase;
            font-size: 35px;
        }
    }

    .owl-units {
        .owl-nav {
            width: auto;
            position: absolute;
            right: 0px;
            bottom: 40px;
        }

        .owl-prev,
        .owl-next {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background: #006699;
            color: #fff;
        }

        .owl-prev {
            background: #0099cc;
        }
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }

        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .owl-units {
            .owl-nav {
                width: auto;
                position: absolute;
                right: 0px;
                bottom: 40px;
            }

            .owl-prev,
            .owl-next {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                background: #006699;
                color: #fff;
            }

            .owl-prev {
                background: #0099cc;
            }
        }

        .title {
            margin-top: 0px;

            span {
                font-size: 12px;
                letter-spacing: 3px;
                font-family: 'gotham-book';
                text-transform: uppercase;
            }

            .align-h2 {
                margin-left: 0px;
                margin-bottom: 0px;
            }

            h2 {
                text-transform: uppercase;
                font-size: 35px;
            }
        }
    }
}

section#tratamentos {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    clear: both;

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }

    .title-float {
        opacity: 0.1;
        font-size: 55px !important;
        text-transform: uppercase;
        font-family: 'gotham-ultra';
    }

    .subtitle {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: -40px;
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color:transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-link {
        color: #333;
    }
}

section#team {
    padding-top: 0px;
    padding-bottom: 50px;
    position: relative;
    clear: both;

    .rotaten90 {
        transform: rotate(-90deg);
    }

    .paux{
        position: relative;
        left: 20px;
    }

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }

    .-aux {
        padding-left: 15px;
        max-width: 100%;
        margin-top: auto;
        margin-left: 35px;
    }

    .owl-nav{
      width: 40px;
      position: absolute;
      top: 183px !important;
      left: -51px;
    }

    .owl-prev, .owl-next{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #006699;
        color: #fff;
    }

    .owl-prev {
        background: #0099cc;
    }

    .item{
        padding: 0 20px;
    }

    .box{
        border-radius: 20px;
        background: rgba(102, 204, 204, 1);
        background: -moz-linear-gradient(45deg, rgba(102, 204, 204, 1) 0%, rgba(102, 204, 204, 1) 48%, rgba(0, 163, 216, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(102, 204, 204, 1)), color-stop(48%, rgba(102, 204, 204, 1)), color-stop(100%, rgba(0, 163, 216, 1)));
        background: -webkit-linear-gradient(45deg, rgba(102, 204, 204, 1) 0%, rgba(102, 204, 204, 1) 48%, rgba(0, 163, 216, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(102, 204, 204, 1) 0%, rgba(102, 204, 204, 1) 48%, rgba(0, 163, 216, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(102, 204, 204, 1) 0%, rgba(102, 204, 204, 1) 48%, rgba(0, 163, 216, 1) 100%);
        background: linear-gradient(45deg, rgba(102, 204, 204, 1) 0%, rgba(102, 204, 204, 1) 48%, rgba(0, 163, 216, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cccc', endColorstr='#00a3d8', GradientType=1);

        padding: 20px;
        color: white;
        min-height: 250px;
        margin-top: 100px;

        .img-float{
            margin-top: -63px;
            z-index: 1;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .text {
            position: absolute;
            bottom: 0px;

            h4 {
                font-size: 15px;
                font-family: 'gotham-book';
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 2px;
            }

        }

        .more-team {
            position: absolute;
            bottom: 10px;
            right: 30px;
            color: $white;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 4px 7px;
        }
    }

    .cat{
        font-weight: bold;
        float: left;
        margin-right: 10px;
        margin-top: 8px;
    }

    .dropdown{
        width: 255px;
        float: left;
    }

    .btn-transparent {
        color: #333333 !important;
        border: 1px solid #333333;
    }

    .link {
        margin-top: 14px;
        color: #333333 !important;
        display: block;
    }
    .link:hover {
        color: $color-dynamic !important;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }

        .paux {
            padding-left: 0px;
        }

        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .owl-stage-outer {
            margin-left: 0px;
            margin-top: 40px;
        }

        .owl-nav {
            width: 40px;
            position: absolute;
            top: 0px !important;
            left: 0px;
        }

        .rotaten90 {
            transform: rotate(0deg);
            position: absolute;
            left: 70px;
            top: 0;
        }
    }
}

section#clientes{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    clear: both;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0.1;
        background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
        z-index: -3;
    }

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }

    #clients-slide{
        position: relative;
		.owl-item {
		    filter: gray; 
		   -webkit-filter: grayscale(100%);
		    z-index: -1;
            transform: scale(.7);
            opacity: .8;
		}

		.owl-item.active.center {
			filter: none;
            transform: scale(1);
            opacity: 1;
			z-index: 1;
        }
        
        .owl-dots {
            position: static!important;
            top: 0!important;
            right: auto!important;
            width: auto!important;
            height: auto!important;
            margin-top: auto!important;
            padding-top: 30px;

            .active {
                background-color: $bg-dynamic!important;
                border: 0!important;
                @include border-radius(50%);
            }
        }

        

        .owl-dot {
            background-size: none!important;
            background-position: none!important;
            background-repeat: none!important;
            background-color: $gray-light!important;
            width: 12px!important;
            height: 12px!important;
            margin-bottom: 0!important;
            margin: 3px;
            @include border-radius(50%);
        }
		

		.owl-nav{
			color: $dlink;
			text-align: center;
			display: block;

			.owl-prev{
                left: 394px;
                position: absolute;
                bottom: -3px;
                margin-top: -25px;
                @include transition(.5s);
                &:hover{
                    color: $color-dynamic;
                }
			}

			.owl-next{
			    position: absolute;
                right: 394px;
                position: absolute;
                bottom: -3px;
                margin-top: -25px;
                @include transition(.5s);
                &:hover{
                    color: $color-dynamic;
                }
			}
		}
	}
}

section#newsletter{
    background-image: linear-gradient(to right, #66cccc, #0099cc);
    padding: 40px 0;
    .title{
        line-height: 35px;
        text-transform: uppercase;
        color: $white;
        span{
            font-size: 14px;
            text-transform: none;
            font-family: 'gotham-book';
        }
    }

    .form-news{
        input{
            @include border-radius(50px);
            padding: 0px 36px;
            border: 0;
            box-shadow: none;
            height: 50px;
            margin-right: 10px;
        
        }
        .send{
            background: #006699;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            cursor: pointer;
            color: white;
        }
    }

    @media (max-width: $screen-sm){
        input{
            width: 100%;
            padding: 15px!important;
        }

        .send {
            margin: 14px auto;
            width: 100%;
            border-radius: 50px;
        }

        .title{
            text-align: center;
            font-size: 1.5em;
            line-height: 25px;
        }
    }
}

footer#footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;
    background:
    /* top, transparent red */
    linear-gradient(rgba(0, 102, 153, 0.9),
        rgba(0, 102, 153, 0.9)),
    /* bottom, image */
    url('/assets/images/bg-footer.png');
    background-size: cover;
    color: $white;

    a {
        color: $white;
        font-size: 13px;

        &:hover {
            color: $color-dynamic;
        }
    }

    p {
        font-size: 13px;
    }

    h5 {
        font-weight: bold;
        font-size: 14px;
    }


    .copy{
        color: $white;
    }

    .dev{
        color: $white;
        text-align: right;
        a{
            font-weight: bold;
            color: $white;
        }
    }

    @media (max-width: $screen-sm){
        .copy, .dev{
            text-align: center;
        }
    }
}