

body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-projeto {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/projeto.png');
    height: 422px;

    .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span {
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;

            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .breaditem {
        color: #fff;
        font-size: 18px;
    }

}

section#about-project {
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;
    min-height: 950px;

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }
    

    .br20{
        border-radius: 20px;
    }

    .owl-controls .owl-dot {
        background-size: cover;
        margin-top: 10px;
    }

    .owl-carousel,
    .owl-carousel .owl-item {
        position: initial;
    }

    .owl-prev,
    .owl-next {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #4bc3bf;
        color: #fff;
        margin-right: 10px;
    }

    .owl-dots {
        position: absolute;
        left: -560px;
        bottom: -207px;

        .active {
            border: 4px solid $color-dynamic;
            border-radius: 10px;
        }
    }



    .owl-dot {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 171px !important;
        width: 171px !important;
        margin-right: 20px;
        margin-bottom: 10px;
        @include border-radius(10px);
    }

    .owl-nav {
        position: absolute;
        bottom: -10px;
        left: -556px;
    }

    .owl-prev,
    .owl-next {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #4bc3bf;
        color: #fff;
        margin-right: 10px;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }
    }
}


section#participar{
    padding-top: 0px;
    position: relative;

    .alinha-texto {
        position: absolute;
        right: 0;
        top: 50px;
        width: 45%;
        padding-right: 90px;

        .title{
            text-transform: uppercase;
        }
    }

    .-aux {
        padding-left: 0px;
        max-width: 100%;
        margin-top: 0px !important;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }

        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .alinha-texto {
            position: initial;
            right: 0;
            top: 50px;
            width: 100%;
            padding-right: 10px;
            padding-bottom: 40px;
        }
    }
}

section#phraseproject {
    position: relative;
    background: url('../images/phraseproject.png');
    background-position: top;
    height: 346px;

    h2 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding-top: 142px;
        letter-spacing: 5px;
    }

    @media (max-width: $screen-sm) {
        h2 {
            padding-top: 98px;
        }
    }
}

section#contatoproject {
    background: url('../images/familiacontact.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 100px;
    min-height: 900px;
}

@media (max-width: $screen-sm) {

    section#contatoproject {
        background: url('');
    }
}